* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "he he he na"
    "s1 s1 s2 s2"
    "s1 s1 s2 s2"
    "s3 s3 s4 s4"
    "s3 s3 s4 s4"
    "s5 s5 s5 s5"
    "s5 s5 s5 s5"
    "fo fo fo fo"

    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);


    background: lightcyan;
}




.header {
    display: flex;
    grid-area: he;
    justify-content: center;
    background: lightpink;
}

.section1 {
    grid-area: s1;
}

.section2 {
    grid-area: s2;
}

.section3 {
    grid-area: s3;
}

.section4 {
    grid-area: s4;
}

.section5 {
    grid-area: s5;
}

.footer {
    grid-area: fo;
    background: lightgreen;
}










nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 13vh;
    background: lightpink;
    font-family: sans-serif;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: lightpink;
    align-items: center;
    width: 25%;
    transition: all 1s;
}

.navActive {
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: rgb(223, 144, 70);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: rgb(223, 144, 70);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}








#teslamodels {
    display: block;
    height: 15vh;
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#teslamodelx {
    display: block;
    height: 15vh;
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#teslamodel3 {
    display: block;
    height: 15vh;
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#teslamodely {
    display: block;
    height: 15vh;
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#teslaroadster {
    display: block;
    height: 20vh;
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#titel {
    text-align: center;
}

#teslaslogo {
    position: relative;
    display: block;
    height: 80px;
    width: auto;
}


