* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "s1 s1 s1"
    "b1 b2 b3"

    ;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: skyblue;
}

.section1 {
    grid-area: s1;
    margin-left: auto;
    margin-right: auto;
}

.block1 {
    grid-area: b1;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block2 {
    grid-area: b2;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3 {
    grid-area: b3;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-align: center;
}

#teslamodel3 {
    height: auto;
    width: 200px;
    padding: 20px;
}

#teslamodels {
    height: auto;
    width: 200px;
    padding: 20px;
}

#teslamodelx {
    height: auto;
    width: 200px;
    padding: 20px;
}

#teslamodely {
    height: auto;
    width: 200px;
    padding: 20px;
}

#teslaroadster {
    height: auto;
    width: 200px;
    padding: 20px;
}

.longrange1 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.longrange2 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.longrange3 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.longrange4 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.performance1 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.performance2 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.performance3 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.performance4 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.extrarange1 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.extrarange2 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.extrarange3 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}

.extrarange4 {
    display: flex;
    height: 100vh;
    width: 100vw;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    background: red;
}