* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Gridwrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "he na na na"
    "s1 s1 s2 s2"
    "s1 s1 s2 s2"
    "s3 s3 s4 s4"
    "s3 s3 s4 s4"
    "s5 s5 s5 s5"
    "s5 s5 s5 s5"
    "fo fo fo fo"

    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 200px 200px 200px 200px 200px 200px 80px;


    background: lightcyan;
}


.navLinks {
    grid-area: na;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightpink;
    position: static;
    font-size: 25px;
    list-style-type: none;
    height: 100px;
}

.header {
    display: flex;
    grid-area: he;
    justify-content: center;
    background: lightpink;
}

.section1 {
    grid-area: s1;
    margin: 7px;
    overflow: scroll;
}

.section2 {
    grid-area: s2;
    margin: 7px;
    overflow: scroll;
}

.section3 {
    grid-area: s3;
    margin: 7px;
    overflow: scroll;
}

.section4 {
    grid-area: s4;
    margin: 7px;
    overflow: scroll;
}

.section5 {
    grid-area: s5;
    margin: 7px;
    overflow: scroll;
}

.footer {
    grid-area: fo;
    background: lightgreen;
}



































#teslamodels {
    float: left;
    display: block;
    height: 320px;
    width: auto;
    padding: 5px;
}


#text_to_s {
    position: relative;
    display: block;
    font-size: 20px;
}


#teslamodelx {
    float: left;
    display: block;
    height: 320px;
    width: auto;
    padding: 5px;
}


#text_to_x {
    position: relative;
    display: block;
    font-size: 20px;
}


#teslamodel3 {
    float: left;
    display: block;
    height: 350px;
    width: auto;
    padding: 5px;
}


#text_to_3 {
    position: relative;
    display: block;
    font-size: 20px;
}


#teslamodely {
    float: left;
    display: block;
    height: 350px;
    width: auto;
    padding: 5px;
}


#text_to_y {
    position: relative;
    display: block;
    font-size: 20px;
}

#teslaroadster {
    float: left;
    display: block;
    height: 350px;
    width: auto;
    padding: 5px;
}


#teslaroadster2 {
    float: left;
    display: block;
    height: 350px;
    width: auto;
    padding: 5px;
}


#text_to_roadster {
    position: relative;
    display: block;
    font-size: 20px;
}


#titel {
    text-align: center;
}

#teslaslogo {
    position: relative;
    display: block;
    height: 80px;
    width: auto;
    margin: 20px;
}

#footer_text {
    text-align: center;
    margin: 15px;
}








































@media screen and (max-width: 600px) {

    .Gridwrapper {
        grid-template-areas:
        "he he nv"
        "s1 s1 s1"
        "s2 s2 s2"
        "s3 s3 s3"
        "s4 s4 s4"
        "s5 s5 s5"
        "fo fo fo"
        ;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 200px 200px 200px 200px 200px 60px;
    }


    #teslamodels {
        display: block;
        height: 150px;
        width: auto;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        }


        #text_to_s {
            position: relative;
            display: block;
            font-size: 15px;
        }


        #teslamodelx {
            float: left;
            display: block;
            height: 150px;
            width: auto;
            padding: 5px;
        }



        #text_to_x {
            position: relative;
            display: block;
            font-size: 15px;
        }


        #teslamodel3 {
            float: left;
            display: block;
            height: 150px;
            width: auto;
            padding: 5px;
        }


        #text_to_3 {
            position: relative;
            display: block;
            font-size: 15px;
        }


        #teslamodely {
            float: left;
            display: block;
            height: 150px;
            width: auto;
            padding: 5px;
        }


        #text_to_y {
            position: relative;
            display: block;
            font-size: 15px;
        }


        #teslaroadster {
            float: left;
            display: block;
            height: 150px;
            width: auto;
            padding: 5px;
        }


        #teslaroadster2 {
            float: left;
            display: block;
            height: 150px;
            width: auto;
            padding: 5px;
        }


        #text_to_roadster {
            position: relative;
            display: block;
            font-size: 15px;
        }


        #teslaslogo {
            position: relative;
            display: block;
            height: 60px;
            width: auto;
        }
















        nav {
            grid-area: nv;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 1fr;
            background: lightpink;
            font-family: sans-serif;
        }
        
        .navLinks {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            right: 0px;
            height: 90vh;
            top: -90vh;
            background-color: lightpink;
            align-items: center;
            width: 2fr;
            transition: all 1s;
            z-index: 1;
        }
        
        .navActive {
            transform: translateY(100vh);
        }
        
        .navLinks li {
            list-style: none;
        }
        
        .navLinks a {
            color: rgb(223, 144, 70);
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: 20px;
        }
        
        .burger div {
            width: 25px;
            height: 3px;
            background: rgb(223, 144, 70);
            margin: 5px;
            border-radius: 10%;
            transition: all 0.3s;
        }
        
        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        
        .toggle .line2 {
            opacity: 0;
        }
        
        .toggle .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
        
        .burger {
            margin-right: 50px;
            cursor: pointer;
        }




}