* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "s1 s1 s1"
    "s1 s1 s1"
    "s1 s1 s1"
    "s1 s1 s1"
    "b1 b2 b3"
    "te te te"

    ;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.section1 {
    grid-area: s1;
}

#teslamodel3 {
    height: auto;
    width: 200px;
    padding: 20px;
}

.block1 {
    grid-area: b1;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.block2 {
    grid-area: b2;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.block3 {
    grid-area: b2;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text {
    grid-area: te;
}