* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "he he he na"
    "in in in in"
    "a1 a1 a1 a1"
    "a2 a2 a2 a2"
    "a3 a3 a3 a3"
    "a4 a4 a4 a4"
    "a5 a5 a5 a5"
    "a6 a6 a6 a6"
    "a7 a7 a7 a7"
    "a8 a8 a8 a8"
    "a9 a9 a9 a9"
    "aa aa aa aa"
    "fo fo fo fo"
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);

}




.header {
    grid-area: he;
    background: blue;
}

.information {
    grid-area: in;
}

.huvudinnehall {
        height: 100vh;
        width: 100vw;
}

.article1 {
    grid-area: a1;
    background: pink;
}

.article2 {
    grid-area: a2;
    background: green;
}

.article3 {
    grid-area: a3;
    background: blue;
}

.article4 {
    grid-area: a4;
    background: red;
}

.article5 {
    grid-area: a5;
    background: purple;
}

.article6 {
    grid-area: a6;
    background: pink;
}

.article7 {
    grid-area: a7;
    background: blue;
}

.article8 {
    grid-area: a8;
    background: red;
}

.article9 {
    grid-area: a9;
    background: pink;
}

.article10 {
    grid-area: aa;
    background: green;
}

.footer {
    grid-area: fo;
    background: blue;
}










nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 13vh;
    background: lightpink;
    font-family: sans-serif;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: lightpink;
    align-items: center;
    width: 25%;
    transition: all 1s;
}

.navActive {
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: rgb(223, 144, 70);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: rgb(223, 144, 70);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}








#teslamodels {
    display: block;
    height: 20vh;
    width: auto;
    padding: 5px;
    margin-left:20%
}

#teslamodelx {
    display: block;
    height: 20vh;
    width: auto;
    padding: 5px;
    margin-left: 20%;
}

#teslamodel3 {
    display: block;
    height: 20vh;
    width: auto;
    padding: 5px;
    margin-left: 20%;
}

#teslamodely {
    display: block;
    height: 20vh;
    width: auto;
    padding: 5px;
    margin-left: 20%;
}

#teslaroadster {
    display: block;
    height: 20vh;
    width: auto;
    padding: 5px;
    margin-left: 20%;
}



